*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.kotlin/
/build

/app-view/build/
/app-view/release/
/app-view/upload_certificate.pem
/app-view/google-services.json

/app-legacy/build/
/app-legacy/release/
/app-legacy/upload_certificate.pem
/app-legacy/google-services.json

/app-compose/build/
/app-compose/release/
/app-compose/google-services.json
/app-compose/upload_certificate.pem
/app-compose/libs/processing-core.jar

/KeyEncrypts/
keystore.jks
Keystore_old.jks
Keystore_old2.jks
/firestore.rules
/firestore.indexes.json
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/andrew.xcuserdatad/UserInterfaceState.xcuserstate
