*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
/.idea
/KeyEncrypts/
/local.properties
Keystore.jks
/app/.idea
/app/build/
/app/.cxx/
/app/keystore.jks
/app/release
/app/local.properties
/app/upload_certificate.pem