*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
/.idea
/KeyEncrypts/
Keystore.jks
/app/.idea
/app/build/
/app/.cxx/
/app/keystore.jks
/app/release
/app/local.properties
/app/upload_certificate.pem
/app/google-services.json
/app/release/
/app/libs/processing-core.jar
/app-kotlin/google-services.json
/app-kotlin/upload_certificate.pem
/app-kotlin/release/
/app-kotlin/libs/processing-core.jar
/app-kotlin/build/
/Keystore_old.jks