*.java linguist-detectable=true linguist-language=Java
*.xml linguist-detectable=true linguist-language=XML
*.kt linguist-detectable=true linguist-language=Kotlin
*.swift linguist-detectable=true linguist-language=Swift
