<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".ui.compose.pet.application.PETApplication"
        tools:targetApi="34"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:configChanges="locale|orientation"
        android:theme="@style/NonColorblind.Base"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:banner="@mipmap/ic_launcher">

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <!--
            Meta-Data
        -->
        <!-- Delay app measurement until MobileAds.initialize() is called. -->
        <meta-data
            android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
            android:value="true"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1890816745443024~8234901440"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!-- Required for Consent Mode v2 https://developers.google.com/tag-platform/security/guides/app-consent?platform=android&consentmode=advanced -->
        <meta-data android:name="google_analytics_default_allow_ad_user_data" android:value="true" />
        <meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="true" />

        <!--
            Activities
        -->
        <activity
            android:name="com.tritiumgaming.phasmophobiaevidencepicker.ui.compose.pet.activities.PETActivity"
            android:theme="@style/NonColorblind.Base"
            android:configChanges="locale|orientation"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

        </activity>

        <!--<activity
            android:name="com.tritiumgaming.phasmophobiaevidencepicker.ui.noncompose.investigation.InvestigationActivity"
            android:theme="@style/NonColorblind.Base"
            android:configChanges="locale|orientation">
        </activity>-->

        <!--
        <activity
            android:name="com.tritiumgaming.phasmophobiaevidencepicker.activities.onboarding.OnboardingActivity"
            android:theme="@style/Theme.PhasmophobiaEvidenceTool.Onboarding"
            android:configChanges="locale|orientation"
            android:exported="true">

            <intent-filter>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

        </activity>
        -->

    </application>

</manifest>