<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.tritiumgaming.phasmophobiaevidencepicker.app-compose" />
    <application

        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config" >

    </application>

</manifest>
